<!--HTML документ-->
<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="css\style.css">
    <meta charset = "utf-8" />
    <title><%= title %></title>
    <%- partial('res') %>
  </head>
  <body>
    <header>
      <p>
        Сайт Сибирской дружины, рассказывающий о правильном образе жизни
      </p>
    </header>

    <!--Название статьи-->
    <article>
      <h1>
        Новости дружины
      </h1>
      
      <!--Секция 1-->
      <section>
        <h2>
          <%- body %>
        </h2>
    <footer> 
      Сайт разработан Сибирской дружиной
    </footer>
  </body>
</html>
