<!--HTML документ-->
<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="css\style.css">
    <meta charset = "utf-8" />
    <title><%= title %></title>
    <%- partial('res') %>
  </head>
  <body>
    <header>
      <!-- <p>
        Общий чат
      </p> -->
    </header>

    <!--Название статьи-->
    <article>
      <!-- <h1>
        Общий чат
      </h1> -->
      
      <!--Секция 1-->
      <section>
        <h2>
          <%- body %>
        </h2>
    <footer>
      Клавиши управления: "ctrl + enter" - отправить сообщение, "del" - очистить экран
      <br>
      Сайт разработан студентом ТУСУР группы 735 Шушменцевым А.В.
    </footer>
  </body>
</html>
