<% layout('baza') %>

    <div align="center">
        <textarea id = "output_window" rows = "20" cols = "100"></textarea>
        <textarea id = "input_window" rows = "10" cols = "100" style = "margin-top: 10px"></textarea>
        <div align="center">
            <input type="submit" value="Отправить" OnClick = "send();">
        </div>
    </div>

    <script>
    //     $("#PerDataQuest").submit(function(e) {
    //         e.preventDefault();
    //         var Form = document.forms["PerDataQuest"];
    //         var okato = Form.elements["okato"].value;
    //         var gender = Form.elements["gender"].value;
    //         var age_group_id = Form.elements["age_group_id"].value;
    //         var height_group_id = Form.elements["height_group_id"].value;
    //         var weight_group_id = Form.elements["weight_group_id"].value;
    //         var smok = Form.elements["smok"].value;

    //         $.ajax({
    //             type: "POST",
    //             url: "/interview",
    //             data: JSON.stringify({
    //                 okato: okato,
    //                 gender: gender,
    //                 age_group_id: age_group_id,
    //                 height_group_id: height_group_id,
    //                 weight_group_id: weight_group_id,
    //                 smok: smok
    //             }),
    //             dataType: "json",
    //             contentType: "application/json",
    //             success: function(data) {
    //                 console.log(data);
    //                 window.questions = data.response;
    //                 window.qnum = "q1";
    //                 document.getElementById("gl1").style.display = 'none';
    //                 document.getElementById("quest").style.display = '';
    //                 document.getElementById("overlay").style.display = 'block';
    //                 console.log(document.getElementById("overlay").style.display);
    //                 document.getElementById("question").innerHTML = questions.q1;
    //             },
    //         });
    //     });
    </script>

    <script>
        var socket = io.connect();

        socket.emit('message', text, function(data){
            document.getElementById("output_window").value += data.user_name + ": " + data.text + "\n";
        });

        function send(){
            var text = document.getElementById("input_window").value;
            console.log(text);
            // $.ajax({
            //     type: "POST",
            //     url: "/",
            //     data: JSON.stringify({
            //         text: text
            //     }),
            //     dataType: "json",
            //     contentType: "application/json",
            //     success: function(data) {
            //         console.log(data);
            //         document.getElementById("output_window").value += data.user_name + ": " + data.text + "\n";
            //     },
            // });
            window.user = "ulala";
            socket.emit('message', [user_name: window.user, text: text], function(data){
                document.getElementById("output_window").value += data.user_name + ": " + data.text + "\n";
            });

            document.getElementById("input_window").value = "";
        }

        function logic(res) {

            if (window.qnum.indexOf("q1") != -1)
                if (window.qnum == "q1")
                    if (res == 1)
                        return "q1_1";
                    else return "q2";
            else
            if (window.qnum == "q1_1")
                if (res == 1)
                    return "q1_2"
                else return "q2"
            else return "q2"

            if (window.qnum == "q2")
                return "q3"

            if (window.qnum == "q3")
                return "q4"

            if (window.qnum.indexOf("q4") != -1)
                if (window.qnum == "q4")
                    if (res == 0)
                        return "q4_1"
                    else return "qend"
            else return "qend"
        }

        function resFin() {
            console.log("отправка");

            var res = {}
            for (key in window.questions)
                if (key.indexOf("q") != -1)
                    res[key] = window.questions[key];

            $.ajax({
                type: "POST",
                url: "/responses",
                data: JSON.stringify(res),
                dataType: "json",
                contentType: "application/json",
                success: function(data) {
                    window.location = "/";
                }
            });
        }
    </script>