<% layout('baza') %>

    <div align="center">
        <textarea id = "output_window" style = "height:350px; width: 95%;" readonly></textarea>
    </div>

    <div align="center">
        <textarea 
        id = "input_window"
        style = "margin-top: 10px; height: 150px; width: 95%;"
        onkeypress="if(event.keyCode==10||(event.ctrlKey && event.keyCode==13)){send()} else if(event.keyCode==46){clear()};"
        autofocus></textarea>
    </div>

    <script>

        var socket = io.connect('http://localhost:8080');
        socket.on('message', function (data) {
                document.getElementById("output_window").value += "Message:     " + data.text + "\n";
            });

        function clear(){

            document.getElementById("output_window").value = "";
        }

        function send(){
            var text = document.getElementById("input_window").value;
            
            socket.emit('my other event', { text: text }, function(data){
                //console.log(data);
                document.getElementById("output_window").value += "My_message:  " + data.text + "\n";
            });

            // var socket = io.connect("http://127.0.0.1:8080");
            // var text = document.getElementById("input_window").value;
            // console.log(text);

            // window.user = "ulala";

            // socket.on('connection', function(data){

            //     console.log("1");
            //     socket.emit('message', {user_name: window.user, text: text}, function(data){
            //         console.log(data);
            //         document.getElementById("output_window").value += data.user_name + ": " + data.text + "\n";
            //     });
            
        // });
           

            document.getElementById("input_window").value = "";
        }

        // function logic(res) {

        //     if (window.qnum.indexOf("q1") != -1)
        //         if (window.qnum == "q1")
        //             if (res == 1)
        //                 return "q1_1";
        //             else return "q2";
        //     else
        //     if (window.qnum == "q1_1")
        //         if (res == 1)
        //             return "q1_2"
        //         else return "q2"
        //     else return "q2"

        //     if (window.qnum == "q2")
        //         return "q3"

        //     if (window.qnum == "q3")
        //         return "q4"

        //     if (window.qnum.indexOf("q4") != -1)
        //         if (window.qnum == "q4")
        //             if (res == 0)
        //                 return "q4_1"
        //             else return "qend"
        //     else return "qend"
        // }

        // function resFin() {
        //     console.log("отправка");

        //     var res = {}
        //     for (key in window.questions)
        //         if (key.indexOf("q") != -1)
        //             res[key] = window.questions[key];

        //     $.ajax({
        //         type: "POST",
        //         url: "/responses",
        //         data: JSON.stringify(res),
        //         dataType: "json",
        //         contentType: "application/json",
        //         success: function(data) {
        //             window.location = "/";
        //         }
        //     });
        // }
    </script>